<a href="https://colab.research.google.com/github/ChrisKodzo/alx-zero_day/blob/main/R_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
# create a vector
# my_vec1 = c(1L, 2L, 3L)
# print(my_vec1)

# my_vec2 = 1:3
# print(my_vec2)

# my_vec3 = seq(from = 1, to = 3, by = 1)
# print(my_vec3)

# Functions on objects
# length of objects
# length(my_vec1)

# class of objects
# class(my_vec2)
# class(my_vec3)

# type of objects
# typeof(my_vec3)

# str on objects
# str(my_vec3)



# Access elements of a vector
# my_vec1[1]

# Modify element of a vector
# my_vec1[1] = 10
# print(my_vec1)

# my_vec1[2] = 20
# print(my_vec1)

# my_vec1[3] = 30
# print(my_vec1)

# Missing data
# my_vec4 = c(1, 2, NA, 4)
# print(my_vec4)

# Inbuilt fuction is.na
# is.na(my_vec4)

# Inbuilt fuction 'anyNA'
# anyNA(my_vec4)


# Special values
1/0
0/0

# List 
# create an empty list
# my_list1 = list(5)
# print(my_list1)

# my_list2 = list(1, 'name', c('a', 'b', 'c'))
# print(my_list2)


# Assing names to slots of list
# names(my_list2) = c('first', 'second', 'third')
# str(my_list2)

# Access elements of a list
# my_list2[3] 

# Modify elements of a list
#  my_list2[1] = 12
#  print(my_list2)

#  my_list2[2] = 24
#  print(my_list2)

# Matrix
# create a matrix
# my_matrix1 = matrix(c(1,2,3,4), nrow = 2, ncol = 2)
# print(my_matrix1)

# my_matrix2 = matrix(c(1,2,3,4,5,6), nrow = 2, ncol = 3)
# print(my_matrix2)

# my_matrix3 = matrix(c(1,2,3,4,5,6), nrow = 2, ncol = 3, byrow = TRUE)
# print(my_matrix3)  

# Assign rows and columns names
# rownames(my_matrix2) = c('row1', 'row2')
# colnames(my_matrix2) = c('col1', 'col2', 'col3')
# print(my_matrix2)
# str(my_matrix2)

# Access the elements of matrix
# my_matrix2[1, 2]
# my_matrix2[2, 2]
# my_matrix2[1, 1]

# Modify the elememts of matrix
#  my_matrix2[1, 2] = 10
#  my_matrix2[2, 2] = 20
#  my_matrix2[1, 1] = 5
#  print(my_matrix2[1, 2])
#  print(my_matrix2[2, 2])
#  print(my_matrix2[1, 1])
#  print(my_matrix2)


 # DATAFRAME
 # Create a dataframe manually
 ID = c('A', 'B', 'C')
 Age = c(21, 22, 20)
 Height = c(150, 160, 170)  
sData = data.frame(ID, Age, Height)
#print(sData)
 

# Assign names to Dataframe

rownames(sData)= c('Adam', 'Bob', 'Chris')
colnames(sData)= c('ID', 'Age', 'Height')

# structure of Dataframe
str(sData)

# print 1st five rows
# using the head fuction
head(sData, 2)

# Print last five rows
# using the tail function
tail(sData, 2)

# get the dimension of the data frame
# the dim gives both the number of rows and columns
dim(sData)

# Number of rows in the data frame
# using the nrow function
nrow(sData)

# Number of columns in the data frame
# using the ncol function
ncol(sData)

# Access a paticular column
# using '$' or '[]' or [[]], using double square brackets will givve you the same result as the function using $
sData$Age
sData[['Age']]
sData['Age']

# Access a paticular row
sData['Chris', ]
# ['Chris', ] means we giving the instruction to go to this paticular slot. Everything pertaining to this slot


# Access multiple columns
# In accessing the multiple columns use the 'c' vector function
sData[c('ID', 'Age')]
sData[c('Age', 'Height')]

[1] Inf

[1] NaN

'data.frame':	3 obs. of  3 variables:
 $ ID    : chr  "A" "B" "C"
 $ Age   : num  21 22 20
 $ Height: num  150 160 170

     ID Age Height
Adam A  21  150
Bob  B  22  160

      ID Age Height
Bob   B  22  160
Chris C  20  170

[1] 3 3

[1] 3

[1] 3

[1] 21 22 20

[1] 21 22 20

      Age
Adam  21
Bob   22
Chris 20

      ID Age Height
Chris C  20  170

      ID Age
Adam  A  21
Bob   B  22
Chris C  20

      Age Height
Adam  21  150
Bob   22  160
Chris 20  170

In [87]:

# FACTOR
# create a factor for storing a list of genders
gender = factor(c('Male', 'Male', 'Female', 'Female'))
print(gender)

# In-built function on factors
 # level function
 levels(gender)

 # Modify a gender
 gender[1] = 'Female'
 print(gender)

[1] Male   Male   Female Female
Levels: Female Male

[1] "Female" "Male"

[1] Female Male   Female Female
Levels: Female Male